# *Python For Data Science_Beginner Friendly Full Course in 5hrs by NICHOLAS RENOTTE*
I found this beautiful course on YouTube.....

HelloWorld is my First .ipynb file, I am on the quest to becoming a data scientist very soon, so I will document every step I took along the way and this is one of it, JOIN ME!!!

In [1]:
print("Hello World")
print("Hi Fisa") #That's my name
print("""Fisa Welcome to the Ultimate Quest for the Mastery of Data Science""")

Hello World
Hi Fisa
Fisa Welcome to the Ultimate Quest for the Mastery of Data Science

#So here we are trying to play it safe, who knew python could be this easy and very readable God Abeg!!! let things go on like this forever

#Variables, Datatypes, Lists and Dictionaries 
C - Create
R - Read
U - Update
D - Delete

# 1. Variables

In [2]:
space_name = "Astronaut Fisa"
space_code = 123445
space_float = 123.456
space_condition = True

In [3]:
print(space_name)
print(space_code)
print(space_float)
print(space_condition)

Astronaut Fisa
123445
123.456
True

In [4]:
print(type(space_name)) 
print(type(type(space_name))) #even "type" is a data type strange ðŸ¤”ðŸ¤”
print(type(space_float))
print(type(space_code))
print(type(space_condition))

<class 'str'>
<class 'type'>
<class 'float'>
<class 'int'>
<class 'bool'>

str - string
int - integer
float - eg. 123.456
bool - e.g True or False

# 2. Data Types

In [5]:
# This is declaring a variable as a STRING
string_variable = 'Pluto'
print(string_variable)

Pluto

In [6]:
type(string_variable)

str

In [7]:
#This is declaring a variable as an integer
integer_variable = 12345
print(integer_variable)
type(integer_variable)

12345

int

In [8]:
#This is declaring a variable as a float
float_variable =  12345.678
print(float_variable)
print(type(float_variable))

12345.678
<class 'float'>

In [9]:
# This is assigning a Boolean Value to a variable
# A Boolean Value can either be True or False
bool_variable = True
print(bool_variable)
print(type(bool_variable))

True
<class 'bool'>

int
str
bool
list
tuple
dict
set

# 3. List (Arrays)
They are always wrapped inside a square bracket, and they are separated by a comma

In [10]:
#This is creating a list variable
list_variable = [1, 2, 3, 4, 5, 123.33, 334.6]
print(type(list_variable))

<class 'list'>

In [11]:
list_variable

[1, 2, 3, 4, 5, 123.33, 334.6]

List Indexing
The Index of a list starts from 0 so List_Index = [0, 1, 2, 3, 4, ....., n]

In [12]:
list_variable[0]

1

Lists are Mutable
Mutability of LISTS`

In [13]:
# We are currently testing for the Mutability of the python data type list
list_variable[0] = 86 # Here we reassined the first value of the list variable to be 86 when before it was 1, and the list just accepts it because lists are mutable
list_variable

[86, 2, 3, 4, 5, 123.33, 334.6]

# 4. TUPLE
A Tuple is immutable i.e. cannot be changed
A Tuple is a series like the lists wrapped in parentheses ().

In [14]:
# Creating a Tuple Variable
tuple_variable = (1, 2, 3, 4, 5, 9, 6.56, 345,7, 'Hello World')
type(tuple_variable)

tuple

In [15]:
tuple_variable

(1, 2, 3, 4, 5, 9, 6.56, 345, 7, 'Hello World')

Tuple Indexing
Just like List Indexing

In [16]:
tuple_variable[3]

4

IMMUTABILITY OF TUPLES, once created cannot be changed elsewhere

In [17]:
# tuple_variable[0] = 87 this will cause an error because tuples cannot be changed....

# 5. SETS
They are wrapped by curly braces {}
It is different from tuples because it cannot contain duplicate values i.e. set_variable = {1, 2, 3, 4, 5, 757.7, 1, 2, 3, 4, 5, 757.7} This will not be accepted as values for the set_variable but jupyter notebook will only pick one of the duplicates which is fine.
Then set_variable will be equal {1, 2, 3, 4, 5, 757.7}.

In [18]:
# creating a set variable
set_variable = {1, 2, 3, 4, 5, 757.7, 1, 2, 3, 4, 5, 757.7}
type(set_variable)

set

In [19]:
set_variable

{1, 2, 3, 4, 5, 757.7}

Type Casting List to set back to set to get rid of duplicate
Type Casting is like enforcing a data type to become another data type under a specific premise i.e. string_one "79'ers"
int(string_one) will never work because it has strings inside

In [20]:
test_list_variable = [1, 2, 3, 4, 5, 1, 2, 3, 5, 6]
test_list_variable

[1, 2, 3, 4, 5, 1, 2, 3, 5, 6]

In [21]:
updated_test_list_variable_1 = set(test_list_variable)

In [22]:
updated_test_list_variable_2 = list(updated_test_list_variable_1)
print(updated_test_list_variable_2)

[1, 2, 3, 4, 5, 6]

# 6. DICTIONARIES
A dictionary is made up of keys and values e.g {name: #this is a key
"Fisa" is the value}

In [23]:
# defining a dictionary variable
dictionary_variable = {'name': "Fisa", "favourite_color": "Black", "favourite_language": "Python"}
print(dictionary_variable)
type(dictionary_variable)

{'name': 'Fisa', 'favourite_color': 'Black', 'favourite_language': 'Python'}

dict

To call a dictionary Value unlike a list

In [24]:
print(dictionary_variable["name"]) # This is calling a value in a dictionary 
print(dictionary_variable["favourite_color"])

Fisa
Black

# 3a. Lists
Delving Deeper into Lists

In [25]:
# Create
names = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [26]:
# Read
names

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [27]:
names[0]

'Mercury'

In [28]:
names[-1]

'Uranus'

In [29]:
len(names)

7

In [30]:
# Update
names[-1] = 'Fisa Omosanya'
names

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Fisa Omosanya']

In [31]:
names.append('elon musk') # This is used to add a new value
names

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Fisa Omosanya',
 'elon musk']

In [32]:
names.insert(0, 'Richard Branson')
names

['Richard Branson',
 'Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Fisa Omosanya',
 'elon musk']

In [33]:
# Delete
del names[-2] # To delete a list value
names

['Richard Branson',
 'Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'elon musk']

# 6a. DICTIONARIES

In [34]:
# Create
astronaut =  {
    'name': 'elon musk',
    'suit_size': 'large',
    'allergies': 'peanuts',
}

In [35]:
# Read
astronaut['name'] # To read the value of a dictionary datatype

'elon musk'

In [36]:
print(astronaut['suit_size'])
print(len(astronaut))

large
3

In [37]:
astronaut['allergies']

'peanuts'

In [38]:
astronaut.keys() # To find all the keys used in a dictionary data type

dict_keys(['name', 'suit_size', 'allergies'])

In [39]:
astronaut.values() # To find all the values stored used in a dictionary data type

dict_values(['elon musk', 'large', 'peanuts'])

In [40]:
# Update
astronaut['allergies'] = 'mango' # This is used to update the values of a key in a dictionary datatype
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [41]:
astronaut ['space_ship'] = 'Galactic 1' # This is used to create a new key and value in a dictionary datatype
astronaut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [42]:
# Delete
del astronaut['space_ship'] # To delete a key and its values space_ship, and it's value Galactic 1 was removed.
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

# 7. CONDITIONS AND LOGIC

In [43]:
# Applying Logic using the if statement
name = 'Nick'
if name != 'Neil Armstrong':
    print('Wassup Niel')

Wassup Niel

In [44]:
test_number = 10
if test_number >= 5:
    print('Number is greater than or equal to 5')

Number is greater than or equal to 5

In [45]:
probability = 0.4
if probability >= 0.5: # probability is greater that than 0.5
    print(True)
    
# Print a statement if probabilty is below 0
elif probability < 0:
    print("Check your probability")
else: # Read else as anything else
    print(False)

False

In [46]:
# Create an array of lists
names_list = ['Neil Armstrong', 'Buzz Aldrin', 'Sally Ride', 'Yuri Gagarin', 'Elon Musk']
if 'Elon Musk' in names_list:
    print("Elon's here")

Elon's here

## Logical Operators
==        !=        >=     <=      <      >

# 8. LOOPS

In [47]:
# Initiating a for loop ðŸ˜ŽðŸ˜Ž
for name in names_list:
    print(name)
    if name == 'Buzz Aldrin':
        print("'Sup Buzz\n")
        continue
    elif name == 'Yuri Gagarin':
        print("Hey Yuri mah Man ðŸ¤¨")
        continue
    else:
        pass
    #Outside the of statement
    print("We are all pleased to have you here\n")\
    # This is a question for you GPT what is "continue" doing why is "We are pleased to have you here" not showing for Buzz and Yuri and what exactly is pass doing is pass redundant here

Neil Armstrong
We are all pleased to have you here

Buzz Aldrin
'Sup Buzz

Sally Ride
We are all pleased to have you here

Yuri Gagarin
Hey Yuri mah Man ðŸ¤¨
Elon Musk
We are all pleased to have you here