#*Python For Data Science_Beginner Friendly Full Course in 5hrs by NICHOLAS RENOTTE*
I found this beautiful course on YouTube.....

HelloWorld is my First .ipynb file, I am on the quest to becoming a data scientist very soon, so I will document every step I took along the way and this is one of it, JOIN ME!!!

In [133]:
print("Hello World")
print("Hi Fisa") #That's my name
print("""Fisa Welcome to the Ultimate Quest for the Mastery of Data Science""")

Hello World
Hi Fisa
Fisa Welcome to the Ultimate Quest for the Mastery of Data Science

#So here we are trying to play it safe, who knew python could be this easy and very readable God Abeg!!! let things go on like this forever

#Variables, Datatypes, Lists and Dictionaries 
C - Create
R - Read
U - Update
D - Delete

#Variables

In [134]:
space_name = "Astronaut Fisa"
space_code = 123445
space_float = 123.456
space_condition = True

In [135]:
print(space_name)
print(space_code)
print(space_float)
print(space_condition)

Astronaut Fisa
123445
123.456
True

In [136]:
print(type(space_name)) 
print(type(type(space_name))) #even "type" is a data type strange ðŸ¤”ðŸ¤”
print(type(space_float))
print(type(space_code))
print(type(space_condition))

<class 'str'>
<class 'type'>
<class 'float'>
<class 'int'>
<class 'bool'>

str - string
int - integer
float - eg. 123.456
bool - e.g True or False

#Data Types

In [137]:
# This is declaring a variable as a STRING
string_variable = 'Pluto'
print(string_variable)

Pluto

In [138]:
type(string_variable)

str

In [139]:
#This is declaring a variable as an integer
integer_variable = 12345
print(integer_variable)
type(integer_variable)

12345

int

In [140]:
#This is declaring a variable as a float
float_variable =  12345.678
print(float_variable)
print(type(float_variable))

12345.678
<class 'float'>

In [141]:
# This is assigning a Boolean Value to a variable
# A Boolean Value can either be True or False
bool_variable = True
print(bool_variable)
print(type(bool_variable))

True
<class 'bool'>

#List (Arrays)
They are always wrapped inside a square bracket, and they are separated by a comma

In [142]:
#This is creating a list variable
list_variable = [1, 2, 3, 4, 5, 123.33, 334.6]
print(type(list_variable))

<class 'list'>

In [143]:
list_variable

[1, 2, 3, 4, 5, 123.33, 334.6]

List Indexing
The Index of a list starts from 0 so List_Index = [0, 1, 2, 3, 4, ....., n]

In [144]:
list_variable[0]

1

Lists are Mutable
Mutability of LISTS`

In [145]:
# We are currently testing for the Mutability of the python data type list
list_variable[0] = 86 # Here we reassined the first value of the list variable to be 86 when before it was 1, and the list just accepts it because lists are mutable
list_variable

[86, 2, 3, 4, 5, 123.33, 334.6]

#TUPLE
A Tuple is immutable i.e. cannot be changed
A Tuple is a series like the lists wrapped in parentheses ().

In [146]:
# Creating a Tuple Variable
tuple_variable = (1, 2, 3, 4, 5, 9, 6.56, 345,7)
type(tuple_variable)

tuple

In [147]:
tuple_variable

(1, 2, 3, 4, 5, 9, 6.56, 345, 7)

Tuple Indexing
Just like List Indexing

In [148]:
tuple_variable[3]

4

IMMUTABILITY OF TUPLES, once created cannot be changed elsewhere

In [149]:
# tuple_variable[0] = 87 this will cause an error because tuples cannot be changed....

SETS
They are wrapped by curly braces {}
It is different from tuples because it cannot contain duplicate values i.e. set_variable = {1, 2, 3, 4, 5, 757.7, 1, 2, 3, 4, 5, 757.7} This will not be accepted as values for the set_variable but jupyter notebook will only pick one of the duplicates which is fine.
Then set_variable will be equal {1, 2, 3, 4, 5, 757.7}.

In [150]:
# creating a set variable
set_variable = {1, 2, 3, 4, 5, 757.7, 1, 2, 3, 4, 5, 757.7}
type(set_variable)

set

In [151]:
set_variable

{1, 2, 3, 4, 5, 757.7}

Type Casting List to set back to set to get rid of duplicate
Type Casting is like enforcing a data type to become another data type under a specific premise i.e. string_one "79'ers"
int(string_one) will never work because it has strings inside

In [152]:
test_list_variable = [1, 2, 3, 4, 5, 1, 2, 3, 5, 6]
test_list_variable

[1, 2, 3, 4, 5, 1, 2, 3, 5, 6]

In [153]:
updated_test_list_variable_1 = set(test_list_variable)

In [154]:
updated_test_list_variable_2 = list(updated_test_list_variable_1)
print(updated_test_list_variable_2)

[1, 2, 3, 4, 5, 6]

#DICTIONARIES

In [155]:
# defining a dictionary variable
dictionary_variable = {'name': "Fisa", "favourite_color": "Black", "favourite_language": "Python"}